<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean name="dc" class="org.com.company.DataConverter"></bean>
	<bean name="dp" class="com.lasc.compb.DataProcessor">
		<property name="dataConverter" ref="dc"></property>
	</bean>
	
	<bean name="mp" class="test.MainProcessor">
		<property name="dataProcessor" ref="dp"></property>
	</bean>
	
	
</beans>
